In [21]:
# import library
import pandas as pd
import joblib

In [22]:
# load model
model = joblib.load('model.pkl')

In [23]:
# Variable dummy  
data_inf = {
    'loan_id'  :1 , 
    'no_of_dependents'      :2 , 
    'education': 'Graduate' , 
    'self_employed'  : 'No' , 
    'income_annum': 9600000 ,
    'loan_amount': 29900000,
    'loan_term' : 12,
    'cibil_score': 778,
    'residential_assets_value': 2400000,
    'commercial_assets_value' : 17600000,
    'luxury_assets_value' : 22700000,
    'bank_asset_value' : 8000000,
}
# Disimpan di dataframe
data_inf = pd.DataFrame([data_inf])
data_inf

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000

In [24]:
# Memprediksi menggunakan model pada data_inf
prediction = model.predict(data_inf)

In [25]:
# Show hasil prediksi
data_inf['Prediction'] = prediction
data_inf

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,Prediction
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,1